#draggable,
#draggable2,
#draggable3,
#set div {
    width: 90px;
    height: 90px;
    padding: 0.5em;
    float: left;
    margin: 0 10px 10px 0;
}

#draggable,
#draggable2,
#draggable3 {
    margin-bottom: 20px;
}

#set {
    clear: both;
    float: left;
    width: 368px;
    height: 120px;
}

p {
    clear: both;
    margin: 0;
    padding: 1em 0;
}